:root{
  --blue-dark: #2F5DA1;
  --blue-form-bg: rgb(159, 185, 201);
  --blue-selection: #6397E6;
  --green: rgb(15, 117, 15);
  --red: rgb(160, 8, 3);
  --white: #f7f7f7;
  --orange-title: #EE6352;
}

*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-form-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'RocknRoll One', sans-serif;
  color: var(--orange-title);
  margin: .5rem 0 .75rem;
  font-size: 1.75rem;
  padding: .5rem 1.5rem;
  border-radius: 10px;
}

.container{
  background: var(--white);
  margin: 0 auto;
  width: 90%;
  max-width: 35rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
             -2px -2px 3px rgba(0, 0, 0, 0.5);
}

.form-control{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

form{
  margin: 1rem 0 1.5rem;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr repeat(auto-fit, minmax(200px, 1fr));
}

.form__name-container{
  margin: 0 0 1rem;
}

.form__amount-container{
  display: flex;
  justify-content: space-evenly;
}

label{
  font-weight: bold;
  margin-right: .125rem;
}

input{
  border: 1px solid black;
  padding: .25rem;
}

input[type=text]{
  width: 17.75rem;
}

input[type=number]{
  width: 3rem;
}

.disabled{
  background: #c2bdbd;
}

.submit-btn{
  padding: .25rem 2.5rem;
  margin: 1rem 0 1.5rem;
  background: var(--blue-dark);
  color: var(--white);
  font-size: 1.05rem;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color linear 300ms;
}

.submit-btn:hover{
  background-color: var(--green);
}

.items-section{
  background: var(--white);
  display: grid;
  gap: .3rem;
  border-top: 2px solid black;
}

table{
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
}

td{
  width: 25%;
  border: 2px solid;
  text-align: center;
  height: 1rem;
}

.title{
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.125rem;
}

.item-btn button{
  padding: .25rem .5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: var(--white);
}

button.edit{
  color: var(--green);
}

button.remove{
  color: var(--red);
}

.item-btn > button + button{
  margin-left: .5rem;
}

.alert{
  margin-top: 1rem;
  padding: .2rem;
  font-size: .9rem;
  font-weight: bold;
  width: 20rem;
  border-radius: 5px;
  text-align: center;
  color: var(--white);
}

.alert-success{
  background: var(--green);
}
.alert-danger{
  background: var(--red);
}

.clear-all{
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
  margin-top: 1rem;
}

.clear-btn{
  padding: .25rem 2.5rem;
  background: var(--orange-title);
  color: var(--white);
  border-radius: 10px;
  font-size: 1.05rem;
  font-weight: bold;
  transition: 0.5s background-color ease-in-out;
}

.clear-btn:hover{
  background: var(--green);
}